/** @format */

/* src/index.css or src/App.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

:root {
    --status-bar-height: env(safe-area-inset-top);
}

.status-bar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--status-bar-height);
    background-color: #EFFFF0;
    z-index: 1000; /* Ensure it stays on top */
}

/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 31px;
  width: 100%;
  position: fixed;
  /* margin-left: -7px; */
  background-color: #EFFFF0;
  margin-top: -7px;
  z-index: 10;
}

.logo span {
  padding: 0 75px;
}

.logo {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #111;
  display: flex;
  align-items: center; /* Aligns image and text vertically */
}

.logo::before {
  content: '';
  background-image: url('../../assets/olive.png'); /* Import olive.png */
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px; /* Adjust size based on UI */
  height: 24px;
  margin-right: 8px; /* Space between image and text */
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.menuIcon {
  width: 40px;
  height: 30px;
  padding-left: 10px;
}

/* @media (min-width: 360px) {
  .menuIcon {
    margin-right: 30px;
  }
} */

@media (min-width: 412px) {
  .navbar {
    width: 420px;
  }
  .logo span {
    align-items: center;
    text-align: center;
    padding-left: 85px;
  }
}