/** @format */

/* Import font globally if needed */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

:root {
  --status-bar-height: env(safe-area-inset-top);
}

.status-bar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--status-bar-height);
  background-color: #EFFFF0;
  z-index: 1000; /* Ensure it stays on top */
}

/* ------------------ Navbar Styles ------------------ */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 31px;
  width: 100%;
  position: fixed;
  background-color: #EFFFF0;
  margin-top: -7px;
  z-index: 10;
}

.logo span {
  padding: 0 75px;
}

.logo {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #111;
  display: flex;
  align-items: center; /* Vertically align logo image + text */
}

.logo::before {
  content: '';
  background-image: url('../../assets/olive.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.menuIcon {
  width: 40px;
  height: 30px;
  padding-left: 10px;
}

/* --------------- Mobile to Tablet Adjustments --------------- */
@media (min-width: 412px) {
  .navbar {
    width: 430px;
  }

  .logo span {
    align-items: center;
    text-align: center;
    padding-left: 85px;
  }
}

/* --------------- Desktop View (Hide Navbar) --------------- */
@media (min-width: 900px) {
  .navbar {
    display: none;
    background-color: none;
  }

  .status-bar-overlay{
    display: none;
  }
}
